button {
    border: none;
    outline: none;
}


.circle {
    display: block;
    position: relative;
    padding: 0;
    z-index: 98;
    margin: 0 auto;
    -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    height: 60px;
    width: 60px;
    background-color: #3F51B5;
    transition: 0.2s;
    text-align: center;
}


.circle:hover {
    cursor: pointer;
    background-color: #606fc7;
    box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.3);
}


.circle img {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -15px;
    margin-top: -15px;
    width: 30px;
    height: 30px;
    transition: 0.5s;
    transform: rotate(180deg);
}
